.header{
    padding-block: 24px 24px;
    background-color: hsla(227, 100%, 98%, 1);
    overflow: hidden;
}

.header__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav__list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
}

.list__item{
    list-style: none;
}

.list__link{
    color: hsla(223, 8%, 50%, 1);
    font-size: 1rem;
    font-family: Inter;
    line-height: 150%;
    text-decoration: none;
    font-weight: 700;
    transition: color 400ms ease-in-out;
}

.list__link:hover{
    color: hsla(196, 100%, 47%, 1);
}


/*mobile*/

.burger {
    --burger-width: 30px;
    --burger-height: 20px;
    --burger-line-height: 2px;
    display: none;
    position: relative;
    border: none;
    padding: 0;
    width: var(--burger-width);
    height: var(--burger-height);
    color: hsla(196, 100%, 47%, 1) ;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    z-index: 100;
  }
  
  .burger::before,
  .burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }
  .burger::before {
    top: 0;
  }
  .burger::after {
    top: calc(100% - var(--burger-line-height));
  }
  

  .burger__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: var(--burger-line-height);
    background-color: hsla(196, 100%, 47%, 1) ;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
  }
  
  .burger__active::before {
    top: 50%;
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }
  
  .burger__active::after {
    top: 50%;
    transform: rotate(-45deg);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }
  
  .burger__active .burger__line {
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
  }


  @media (max-width:740px) {
    .nav{
      border-right: 1px solid hsla(47, 100%, 50%, .9) ;
      visibility: hidden;
      position: fixed;
      align-items: center !important;
      left: 0;
      top: 0;
      width: 100%;
      background: hsla(223, 8%, 50%, .1);
      backdrop-filter: blur(10px);
      height: 100vh;
      z-index: 100;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 51px;
      padding: 10px;
      overflow-y: auto;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out, visibility 0.5s ease-in-out;
      -webkit-transition: transform 0.3s ease-in-out, visibility 0.5s ease-in-out;
      -moz-transition: transform 0.3s ease-in-out, visibility 0.5s ease-in-out;
      -ms-transition: transform 0.3s ease-in-out, visibility 0.5s ease-in-out;
      -o-transition: transform 0.3s ease-in-out, visibility 0.5s ease-in-out;
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
  }

  .nav__list{
    display: flex;
    text-align: center;
    gap: 20px;
    flex-direction: column;
  }
  .list__link{
      font-size: 34px;
  }
}

@media (max-width:740px) {
    .burger{
      display: block;
    }
  }
  
  .nav.menu_active{
    visibility: visible;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
  