.footer{
    background-color: hsla(196, 100%, 47%, 1);
    padding-block: 55px;
}

.footer__top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 2px solid hsla(0, 0%, 100%, 1);
    padding-block-end: 60px;
    gap: 20px;
}

.footer__title{
    color: var(--neutral-10, #FFF);
    font-size: clamp(20px, 5vw + 1rem, 60px);
    font-family: Poppins;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -1px;
}

.footer__desc{
    color: #FFF;
    font-size: 20px;
    font-family: Poppins;
    line-height: 28px;
    max-width: 545px;
}
.fot__link{
    display: block;
    color: #FFF;
    font-size: 16px;
    font-family: Poppins;
    text-decoration: none;
}

.footer__cont{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flex__groop{
    display: flex;
    align-items: center;
    gap: 13px;
}

.icon__box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #FFF;
}

.footer__bottom{
    padding-block-start: 18px;
    text-align: center;
}

.footer__list__grup{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    padding-block-end: clamp(20px, 5vw + 2rem, 80px);
    text-align: left ;
}

.footer__nav__link{
    color: var(--neutral-10, #FFF);
    font-size: 16px;
    font-family: Inter;
    text-decoration: none;
}

.footer__rit{
    color: var(--neutral-10, #FFF);
    font-size: 16px;
    font-family: Inter;
    max-width: 279px;
}